body {
	margin: 0;
}

header {
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.vtopmenu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.vtopmenu-container {
	width: 80%;
	padding-right: 150px;
}

.vlogo-container {
	padding-left: 150px;
}

.vtopmenu li {
	list-style: none;
	text-transform: uppercase;
	font-family: verdana;
	color: #647786;
	font-size: 12px;
	font-weight: 600;
}

#vreservebtn {
	background-color: #fea100;
	padding: 10px;
	margin-top: -12px;
	color: white;
	border-style: double;
	border-radius: 5px;
}

#vreservebtn i, #vcartbtn i {
	color: #647786; 
	font-size: 15px;
}

#vcartbtn .fa-shopping-cart {
	position: absolute;
}

#vcartbtn span {
	background-color: #fe4c8d;
	border-radius: 50%;
	color: white;
	padding: 0 5px;
	position: relative;
	bottom: 10px;
	left: 10px; 
}

.fa-caret-down {
	margin-left: 5px;
}

