body {
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header {
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.vtopmenu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.vtopmenu-container {
	width: 80%;
	padding-right: 150px;
}

.vlogo-container {
	padding-left: 150px;
}

.vtopmenu li {
	list-style: none;
	text-transform: uppercase;
	font-family: verdana;
	color: #647786;
	font-size: 12px;
	font-weight: 600;
}

#vreservebtn {
	background-color: #fea100;
	padding: 10px;
	margin-top: -12px;
	color: white;
	border-style: double;
	border-radius: 5px;
	cursor: pointer;
}

#vreservebtn i, #vcartbtn i {
	color: #647786;
	font-size: 15px;
}


#vcartbtn .fa-shopping-cart {
	position: absolute;
}

#vcartbtn span {
	background-color: #fe4c8d;
	border-radius: 50%;
	color: white;
	padding: 0 5px;
	position: relative;
	bottom: 10px;
	left: 10px;
}

.fa-caret-down {
	margin-left: 5px;
}

/* reserv table section styles */
		.rez-pcontainer{
			background-color: #EDF1F4;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.reserv-head{
			text-align: center;
		}
		#rezerv-p{
			color: black;
			font-size: 13px;
			text-transform: uppercase;

		}
		.rezervacija{
			display: flex;
			justify-content: center;
			padding-left: 150px;
			padding-right: 150px;
		}
		.img-rezerv{
			width: 50%;
		}
		.img-rezerv img{
			width: 100%;
		}
		.main-rezev{
			width: 50%;
			margin-left: 30px;
			display: flex;
	    flex-direction: column;
	    justify-content: center;
		}
		.rezerv-form{
			display: flex;
		}
		.rezerv-form form{
			margin-right: 20px;
		}
		.rezerv-form div {
			margin-bottom: 25px;
		}
		.rezerv-form input{
			border: none;
			border-bottom: 1px solid silver;
			padding-bottom: 8px;
			outline: none;
			background-color: #EDF1F4;
		}
		.table-rezerv ul{
			display: flex;
			padding-left: 0;
			align-items: center;
		}
		.table-rezerv li{
			margin-right: 8px;
		}
		.table-rezerv #vreservebtn{
			margin-top: 0;

		}

/* footer section styles */
	.pfooter-container{
		background-color: #373743;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.pfooter-container h3,a,p{
		color: white;
	}
	.pfooter-container a,p {
		font-size: 13px;
	}
	.footer-navigacija ul{
		padding-left: 0;
	}
	.pfooter-container li {
		margin-bottom: 10px;
	}
	.pfooter-ul{
		padding-left: 150px;
		padding-right: 150px;
		display: flex;
		justify-content: space-between;
	}
	.footer-form button{
		border: none;
		border-radius: 3px;
		background-color: #FFA101;
		padding: 7px;
		color: white;
		cursor: pointer;
	}
	.footer-form input {
		border: 1px solid white;
		background-color: #373743;
		padding: 6px;
		border-radius: 3px;
		outline: none;
	}
	.naujienlaiskis a{
		font-size: 30px;
	}
	.fa-facebook-square{
		color: #4267B2;
	}
	.fa-twitter-square{
		color: #1DA1F2;
	}
	.fa-google-plus-square{
		color: #DA4B39;
	}
	.app-av li{
		background-color: #53525D;
		border-radius: 3px;
		cursor: pointer;
	}
	.fa-apple{
		font-size: 20px;
	}
	.app-av a{
		font-size: 16px;
		padding: 10px;
		display: flex;
		justify-content: space-around;
	}
	.app-av li:hover {

	}
	.rights {
		display: flex;
		justify-content: center;
		background-color: #373743;
		padding-left: 150px;
		padding-right: 150px;
		text-align: center;

	}
	.teises{
		width: 40%;
	}
	.f{
		width: 100%;
		border-bottom: 1px solid white;
		margin-bottom: 20px;
	}
