body {
	margin: 0;
}

header {
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.vtopmenu {
	display: flex;
	justify-content: space-between;
}

.vtopmenu-container {
	width: 80%;
	padding-right: 150px;
}

.vlogo-container {
	padding-left: 150px;
}

.vtopmenu li {
	list-style: none;
	text-transform: uppercase;
	font-family: verdana;
	color: #647786;
	font-size: 15px;
}